.parentClass {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.keyWord {
	color: brown;
	font-weight: bold;
}

.propName0 {
	width: 100%;
	padding: 5px;
	background-color: #E6D2DC;
}
.propName1 {
	width: 100%;
	padding: 5px;
	background-color: #DAE1DC;
}
.propDoc0 {
	padding: 25px;
	background-color: #F0E8EC;
}
.propDoc1 {
	padding: 25px;
	background-color: #E7EDE9;
}

.docBut {
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border: solid 1px gray;
}

.pointed {
	cursor: pointer;
}

